.hero {
    //display: flex;
    align-items: center;
    position: relative;

    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        left: -100px;
        right:-100px;
        top: -60px;
        bottom:-30px;
        background: #5D21D1;
    }

    &__text {
        position: relative;
        h1 {
              color: black;
            span{
                transition: 0.1s all ease-in-out;
                transform: skewX(0) scale(1) translateX(0);
                display: inline-block;
                cursor: grab;
                color: #FE7624;

                &:hover{
                    transform: skew(-15deg) scale(1.1) translateX(20px);
                }
            }
        }

        h2 {
            color: black;
            font-weight: 400;
            margin-bottom: 30px;
        }
    }

    &__image {

    }
}
