.btn {
    font-size: 21px;
    padding: 8px 30px;
    border-radius: 30px;
    color: white;
    display: inline-block;

    &--primary {
        border: 3px solid #5D21D1;
        transition: 0.3s all ease-in-out;
        background: transparent;
        &:hover {
            background: #5D21D1;
        }
    }

    &--black {
        border: 3px solid black;
        color: white;
        transition: 0.3s all ease-in-out;

        &:hover {
            background: black;
            color: white;
        }
    }

    &--secondary {
        background: #FE7624;
    }
}


