.card {
    border-radius: 15px;
    color: white;
    min-height: 300px;
    position: relative;
    overflow: hidden;

    &--purple {
        background: #5D21D1;
    }

    &--orange {
        background: #FE7624;
    }

    .btn {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s all ease-in-out;
        opacity:0;
    }

    &:hover {
        .btn {
            opacity:1;
            top: 50%;
        }
    }
}
