body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: 900;

    span{
        color: #FE7624;
    }
}

h1 {
    font-size: 48px;
    @media (max-width: 768px) {
        font-size: 32px;
    }
}

h2 {
    font-size: 36px;
    @media (max-width: 768px) {
        font-size: 28px;
    }
}

h3 {
    font-size: 24px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

p {
    color: white;
    font-size: 24px;

    @media (max-width: 768px) {
        font-size: 16px;
    }

    span{
        color: #FE7624;
    }
}

label {
    font-size: 15px;
}

input, textarea {
    font-size: 20px;
}

.fa-brands, .fa-solid, .fa-regular {
    color: #FE7624;
    font-size: 48px;
}
